#name {
    font-family: Brush Script MT;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }

 body {
    background-image: url("/static/images/casey-horner-20VGfqwDeEQ-unsplash.jpg");
 }

 footer {
    color: whitesmoke;
}