body, html {
    /* background-image: linear-gradient(to right, rgb(34, 90, 194) , #88a4e0); */
    background-color:rgba(84, 85, 87, 0.425);    
    font-family: Sorts Mill Goudy; 
    overflow: scroll; 
    background-image: url("/static/images/casey-horner-20VGfqwDeEQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    font-style: italic;  
}

.display-2 {
    color: white;
}

.display-4 {
    color: white;
}

.lead {
    color: white;
    text-shadow:
		-1px -1px 0 rgba(13, 13, 32, 0.76),
		1px -1px 0 rgba(13, 13, 32, 0.76),
		-1px 1px 0 rgba(13, 13, 32, 0.76),
		1px 1px 0 rgba(13, 13, 32, 0.76);
}

.jumbotron {
    height: 20rem;
    background-image: url("/static/images/Atlanta\ Image.jpg");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    /* padding-right: 50px;
    padding-left: 50px;
    padding-top: 200px; */
    
}

h1, .jumbotron {
    color: white;
    font-size: 25px;
   
}

h2, .jumbotron {
    color: white;
    font-size: 20px;
    font-style: italic;
    text-shadow:
		-1px -1px 0 rgba(13, 13, 32, 0.76),
		1px -1px 0 rgba(13, 13, 32, 0.76),
		-1px 1px 0 rgba(13, 13, 32, 0.76),
		1px 1px 0 rgba(13, 13, 32, 0.76);
    /* background-color: rgba(13, 13, 32, 0.76); */
}

footer {
    color: whitesmoke;
}